.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-right: 100px;
  padding-bottom: 15px;
  padding-left: 100px;
  opacity: 1;
  background-color: #a3d7eb;
  margin: 0;
  box-sizing: border-box;
  z-index: 100000;
}

.header-dropdown {
  position: absolute;
}

.fechado {
  display: none;
}

.header-img img {
  width: 105px;
  height: 98px;
  opacity: 1;
}
.search-icon {
  position: absolute;
  width: 34px;
  height: 34px;
  border-width: 5px;
  right: 220px;
  cursor: pointer;
}

.header-tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tools input {
  width: 300px;
  height: 35px;
  padding-top: 18px;
  padding-right: 27px;
  padding-bottom: 18px;
  padding-left: 27px;
  gap: 10px;
  opacity: 1;
  border-radius: 1000px;
  border: none;
  outline: none;
  background-color: #ffffffa3;
  font-size: large;
}

.profile-icon {
  padding-left: 34px;
}

.line-itens {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  gap: 16px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.line-content-dropdown:nth-child(4) .line-itens {
  color: red;
}

.line-content-dropdown {
  list-style: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
  align-items: left;
  padding: 0;
  margin: 0px 57px 0px 0px;
}

.header-dropdown {
  position: absolute;
  width: 211;
  height: 181;
  gap: 14px;
  opacity: 1;
  border-radius: 12px;
  padding: 12px;
  background-color: #efeffe;
  top: 90px;
  right: 90px;
}
